<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/">Organic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active current">
                <!-- <a class="nav-link" routerLink="/shopping_cart">Shopping_Cart</a> -->
            </li>
            <ng-template #anouser>
                <li class="nav-item" >
                    <!-- <a class="nav-link" routerLink="/login">Login</a> -->
                </li>
            </ng-template>
            <li class="nav-item dropdown droptoggle" (click)="handleClick()"
                *ngIf="auth.userName$ | async as userName; else anouser" routerLinkActive="active current"  >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{userName.displayName}}
                </a>
                <div class="dropdown-menu" [ngClass]="{'show' : icClick}" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/my_orders">My Orders</a>
                    <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                    <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                    <a class="dropdown-item" routerLink="/logout" (click)="logout()">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>